.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

.user-name{
    font-size: 2em;
}

.gram-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.right-side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.link{
    font-weight: bold;
    color: blue;
}
.follow-button{
    font-size: 1em;
}

.dots{
    border: none;
}

.gram-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#last-pic{
    width: 149px;
    height: 150px;
}

.lines{
    line-height: .1cm;
}

.numbers{
    font-weight: bold;
}

.profile-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pic-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

.following-line{
    font-size: 1em;
    color:black;
}

#words{
    font-weight: bold;
}